<html>
  <head></head>
  <body>
    <h1>welcome to Nagano Cake Page</h1>
    <h4>ようこそ、ながのCAKEへ<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります</h4>
    
    <style>
      h1 {
        text-align: center;
        margin-top: 200px;
      }
      
      h4 {
        text-align: center;
        
      }
    </style>
  </body>
</html>