<!DOCTYPE html>
<html>
    <head></head>
    <body>
      <div class="container">  <!-- この行を追加 -->
      <div class="row">
        <div class="col-md-3">
          <h1>お客様情報</h1>
          <table class="table table-striped">
            <tr><th>name</th><td></td></tr>
            <tr><th>kana</th><td></td></tr>
            </table>
            <%= link_to edit_customer_path(@customer), class: "btn btn-secondary btn-block" do %>
            <i class="fas fa-user-cog fa-lg"></i>
            <% end %>
        </div>
      </div>
    </div>

