
<html>
    <head>
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    </head>
    <body>
        <h1>Welcome to <i class="fas fa-cake-candles"></i>Nagano_Cake</h1>

    </body>

    <style>

    h1 {
    text-align: center;
    }
    </style>
</html>