<!DOCTYPE hrml>
<html>
  <head></head>
  <body>
    <h2>WELCOME TO Nagano_Cake Page</h2>
    
    <style>
      h2 {
        text-align: center;
        margin-top: 200px;
      }
    </style>
  </body>
</html>