注文履歴詳細

注文情報（注文日、配送先、支払方法、ステータス）
<table>
    <tr><th>注文日</th><td></td></tr>
    <tr><th>配送先</th><td></td></tr>
    <tr><th>支払方法</th><td></td></tr>
    <tr><th>ステータス</th><td></td></tr>
</table>

請求情報【商品合計、配送料、請求金額】
<table>
    <tr><th>商品合計</th><td></td></tr>
    <tr><th>配送料</th><td></td></tr>
    <tr><th>請求金額</th><td></td></tr>
</table>
注文内容（商品、単価（税込）、個数、小計）
<table>
    <tr>
    <th>商品</th>
    <th>単価（税込）</th>
    <th>個数</th>
    <th>小計</th>
    </tr>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
</table>